<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/navigation.ejs') %> 
    <div class="top">
        <div class="main">
        <h1>404, Page not found</h1>
        <br>
        <button class = "form-button" onclick ="location.assign('/')">Return to home</button>
        </div>
    </div>
</body>