<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/navigation.ejs') %> 
    <div class="top">
        <div class="main">
            <button class="menu-btn" onclick="location.assign('/admin/make/files')">Make files</button>
            <button class="menu-btn" onclick="location.assign('/admin/delete/all')">Wipe</button>
            <button class="menu-btn" onclick="location.assign('/admin/test')">Test functions</button>
            <button class="menu-btn" onclick="location.assign('/admin/run')">RUN</button>
        </div>
    </div>
</body>