<%- include('includes/top.ejs') %> 
<body>
    <%- include('includes/navigation.ejs') %> 
    <div class="top">
        <div class="main">
       <p>An Error Occured</p>
        <button class = "nav-button" onclick ="location.assign('/')">Return to home</button>
        </div>
    </div>
</body>