<%- include('includes/top.ejs') %> 
<body>
    <!-- <%- include('includes/navigation.ejs') %>  -->
    <div class="top">
        <div class="home">
    <div class ="home-info-container">
        <div class="home-title">Clinical Trials Search Engine</div>
        <div class="home-btns">
            <button class="menu-btn" onclick="location.assign('/trials/get/fields')">Find Studies</button>
            <button class="menu-btn" onclick="location.assign('/admin')">Admin Control Pannel</button>
        </div>
    </div> 
    </div>
    </div>
</body>