<!-- <%- include('includes/top.ejs') %>  -->
<body>
    <!-- <%- include('includes/navigation.ejs') %>  -->
    <div class="top">
        <div class="main">
        <h1>Hellow world</h1>
        <button class="trials-btn" onclick="location.assign('/trials/run')">RUN</button>

        <button class="trials-btn" onclick="location.assign('/trials/make/files')">Make files</button>
        <!-- <button class="trials-btn" onclick="location.assign('/trials/make')"></button>
        <button class="trials-btn" onclick="location.assign('/trials/add/location')">Add locations</button> -->
       
        </div>
    </div>
</body>