<%- include('includes/top.ejs') %> 
<body>
    <div class="top">
        <%- include('includes/navigation.ejs') %> 

<div class="main">
    <div class="auth-container">
        <div class="auth-form-container">
        <form class="form" action="/user/login" method="post">
            <label for="email">Email</label>
            <br>
            <input class="input-txt" name ="email" type="email">
            <br>
            <label for="password">Password</label>
            <br>
            <input class="input-txt" name="password" type="password">
            <br>
            <button type = "submit" class="menu-btn">Login</button>
            <input type ="hidden" name ="_csrf" value= '<%=csrfToken%>'>
        </form>
    </div>
</div>
        </div>
    </div>
</body>