:root {
    --main-background: #1A1A1A;
    --dark-accent: #1363DF;
    --med-accent:#47B5FF;
    --light-accent: #DFF6FF;
}

body {
background-color: var(--main-background);
font-family: Arial, Helvetica, sans-serif;
height: 100vh;
width: 100vw;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white
}
.fields-selection{
    display: block;
    color: white
}
.home-container{
    display: block;
}
.home-title{
    display: flex;
    margin: 10px;
    font-size: 30px;
}
.home-btns{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-btn{
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;

    background-color: var(--dark-accent);
    color: white;
    font-size: 15px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 3px;
}
.fields-input{
    width: 300px;
    height: 30px;
    background-color: var(--main-background);
    border: 1px solid white;
    border-radius: 12px;
    color: white;
}
.file-select{
    background-color: var(--main-background);
    color: white;
}
.field-container{
    height: 40px;
    width: 200px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: var(--main-background);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.field-select-btn{
    background-color: #1363DF;
	color: white;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 20px;
    width: 20px;
    margin-left: 5px;
}
.icon{
    font-size:15px;
    color:white;
    height: 20px;
    width: 20px;
}
.main-selection-container{
    color: white;
}
.other-fields{
    display: none;
}

.auth-form-container{
    display: block;
    color:white;
    font-size: 14px;
}
.auth-conainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-txt{
    width: 50%;
    height: 40px;
    border-radius: 12px;
    background-color: var(--main-background);
    color: white;
    border: 1px solid white;
}
.nav-container{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-option{
    font-size:15px;
    color: white;
    background-color: var(--med-accent);
    border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    height: 30px;
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}